body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin: 30px 10px 50px 10px;
}

footer{
  background-color: black;
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 3px black;
  width: 100%;
  height: 250px;
}

.headerRight{
  position : absolute;
  right : 0;
  top: 25px;
  margin-right : 25px;
  display : flex;
  gap: 15px;
}

.headerRight a {
  padding: 15px;
    color: #8186a0;
    text-decoration: none;
    font-size: 18px;
}

.notfoundTitle {
  font-family: Montserrat;
  font-size: 288px;
  font-weight: 700;
  line-height: 410.69px;
  text-align: center;
  color: #FF6060;
  margin: 0;
}

.notfoundText{
  font-family: Montserrat;
  font-size: 33px;
  text-align: center;
  color: #FF6060;
}
.notfoundText2{
  font-family: Montserrat;
  font-size: 20px;
  line-height: 51.34px;
  text-align: center;
  color: black;
}


.Banner{
  width: 90%;
  height: 160px;
  margin: 30px;
  display: inline-block;
  border-radius: 30px;
}
.imgtext{
  text-align: center;
  padding: 34px;
  color: white;
  font-size: xx-large;
}